* {
	color: #ffffff;
}

h1 {
	font-family: "Lucida Console";
	text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
}

i {
	color: #1aff1a;
}

body {
	background: #000000;
}

h3 {
	border-style: inset;
	border-width: 5px;
	padding: 10px;
	text-align: center;
}

.intro {
	margin-left: 10px;
}

aside {
	color: #ff0000;
	margin-left: 20px;
	font-size: .9em;
}

.favorite {
	background-color: #ffe6f9;
}