.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  background-image: url(./images/keyboard.png);
  background-size: contain;
  background-repeat: repeat space;
  height: 200px;
  padding: 20px;
  color: white;
  font-family: 'VT323', monospace;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

.App-body {
  background-color: rgb(68, 64, 67);
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
