<!DOCTYPE html>
<html>
<head>
  <title>Jessica Bohn</title>

</head>
<body>

  <div class="under-construction">
    <p>
      Site curretnly under construction
    </p>
  </div>

  <div class="general-description">
    <p>Hello there! I am Jessica Bohn and this page is meant to showcase my web development
      projects and newly acquired skills in the field
    </p>
  </div>
